<section class="section">
  <div class="container">
  <%= form_for @credit_card, html: {class: "field"} do |form| %>

    <% if @credit_card.errors.any? %>
      <div id="error_explanation">
        <h2 class="title">
          <%= pluralize(@credit_card.errors.count, "Error") %>
          prohibited this card information from being saved:
        </h2>
        <% @credit_card.errors.full_messages.each do |msg| %>
          <span class="subtitle"><%= msg %></span>
        <% end %>
      </div>
    <% end %>

    <div class="field">
      <div class="control">
        <%= form.label 'Name', class: "label" %>
        <p class="help">Name as it appears on card</p>
      </div>
      <div class="control">
        <%= form.text_field :name, class: "input" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.label :brand, class: "label" %>
      </div>
      <div class="control">
        <%= form.select(:brand, options_for_select([['Visa', 'Visa'], ['MasterCard', 'MasterCard'], ['American Express', 'American Express'], ['Discover', 'Discover']])) %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.label :account, class: "label" %>
      </div>
      <div class="control">
        <%= form.text_field :account, class: "input" %>
      </div>
    </div>

     <div class="field">
      <div class="control">
        <%= form.label :Expiration_month, class: "label" %>
        <p class="help">e.g. February would be 02</p>
      </div>
      <div class="control">
        <%= form.text_field :exp_month %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.label :Expiration_Year, class: "label" %>
        <p class="help">e.g. 2018</p>
      </div>
      <div class="control">
        <%= form.text_field :exp_year %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.label :cvc, class: "label" %>
        <p class="help">The security code on the back of your card</p>
      </div>
      <div class="control">
        <%= form.text_field :cvc %>
      </div>
    </div>


    <div class="field">
      <div class="control">
        <%= form.submit "Submit", class: "button" %>
      </div>
    </div>

  <% end %>

 </div>
</section>
