  <br>
  <section class="section">
    <div class="container has-text-centered">
      <h2 class="title">The World of Mushrooms</h2>
      <hr>
    </div>
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <div class="image">
            <%= image_tag "hunting.jpeg" %>
          </div>
        </div>         
        <div class="column is-hidden-mobile">
          <div class="image">
            <%= image_tag "education.jpg" %>
          </div>
        </div> 
        <div class="column is-hidden-mobile">
          <div class="image">
            <%= image_tag "sales.jpeg" %>
          </div>      
        </div>
        <div class="column is-hidden-mobile">
          <div class="image">
            <%= image_tag "cooking.jpeg" %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container has-text-centered">
      <h2 class="subtitle is-capitalized">Sign up for one of our free classes!</h2>
      
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Location</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        <% @courses.each do |course| %>
         <tr>
           <th class="swell">
             <%= link_to course.title, course_path(course), remote: true %>
           </th>
           <td><%= course.location %></td>
           <td><%= course.class_time %></td>
         </tr>
        <% end %>
        </tbody>
      </table>
      
    </div>
    <div id='course-content'></div>
  </section>

