<section class="section">
  <div class="container">
  <%= form_for @shroom, html: {class: "field"}, remote: true do |form| %>

    <% if @shroom.errors.any? %>
      <div id="error_explanation">
        <h2 class="title">
          <%= pluralize(@shroom.errors.count, "Error") %>
          prohibited this mushroom from being saved to the database:
        </h2>       
        <% @shroom.errors.full_messages.each do |msg| %>
          <span class="subtitle"><%= msg %></span>
        <% end %>
      </div>
    <% end %>

    <div class="field">
      <div class="control">
        <%= form.label :name, class: "label" %>
      </div>     
      <div class="control">
        <%= form.text_field :name, class: "input" %>
      </div>
    </div>
    
    <div class="field">
      <div class="control">
        <%= form.label :description, class: "label" %>
      </div>
      <div class="control">
        <%= form.text_area :description, class: "textarea" %>
      </div>    
    </div>

    <div class="field">
      <div class="control">
        <%= form.label :genus, class: "label" %>
        <p class="help">If you know it!</p>
      </div>
      <div class="control">
        <%= form.text_field :genus, class: "input" %>
      </div> 
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.radio_button :edible, "true", :checked => true, class: "radio" %>
      </div>
      <div class="control">
        <%= form.label :edible, "Edible", :value => "true", class: "radio" %>
      </div>
      <div class="control"> 
        <%= form.radio_button :edible, "false", class: "radio" %>
      </div>
      <div class="control">
        <%= form.label :edible, "Not Edible", :value => "false", class: "radio" %>
      </div>   
    </div>

     <div class="field">
      <div class="control">
        <%= form.label "Upload an Image", class: "label" %>
      </div>
      <div class="control">
        <%= form.file_field :image %>
      </div> 
    </div>
    

    <div class="field">
      <div class="control">
        <%= form.submit "Submit", class: "button" %>
      </div>
    </div>

  <% end %>
    <%= link_to ' Delete Shroom', shroom_path(@shroom), class: "is-danger button is-small",  method: :delete, data: { confirm: "Are you sure?" } %>
 </div>
</section>


