<div class="modal is-active" id="shroom-modal">
  <div class="modal-background"></div>
  <div class="modal-content has-text-white" id="shroom-content">
    <!-- Any other Bulma elements you want -->
      <div class="modal-image" >
        <%= image_tag @shroom.image.url %>
      </div>
      <div class="subtitle has-text-centered has-text-white shroom-name">
        <%= @shroom.name %>
      </div>
      <div class="has-text-centered product-description-modal">
        <p>Genus: <span class="is-italic"><%= @shroom.genus %></span></p>
        <p><%= @shroom.description %></p>
      </div>
      <div class="edible-tag-show">
        <% if @shroom.edible == "true" %>
          <div class="tags">
            <span class="tag is-success is-medium edible-tag">Edible!</span>
          </div>
          <% else %>
          <div class="tags">
            <span class="tag is-danger is-medium edible-tag">Not Edible!</span>
          </div> 
        <% end %>
      </div>
      
      <div class="nav-tools">
          <% if current_user != nil %>
            <% if shroom.user_id == current_user.id %>
              <%= link_to ' -Edit-', edit_shroom_path(shroom) %>
              <%= link_to ' -Delete-', shroom_path(shroom),  method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
          <% end %>
        </div> 
    </div>
  <button class="modal-close is-large" onClick="closeModal()" id-="modal-close" aria-label="close"></button>
</div>