
<section>
    <h1>Welcome to the Shroom Hunters Database!</h1>
    <h3>Our user-contributed database is ever growing!</h3>
    <%= link_to "Add a shroom to the database!", new_shroom_path %>
    <hr>

    <table>
      <tr>
        <th>Title</th>
        <th>Text</th>
      </tr>
     
      <% @shrooms.each do |shroom| %>
        <tr>
          <td><%= shroom.name %></td>
          <td><%= shroom.description %></td>
          <td><%= link_to 'Show', shroom_path(shroom) %></td>
          <td><%= link_to 'Edit', edit_shroom_path(shroom) %></td>
        </tr>
      <% end %>
    </table>
    <hr>
    
</section>