
<section class="section">
  <div class="container is-fluid has-text-centered">
    <h1 class="title">Welcome to the Shroom Hunters Database!</h1>
    <h3 class="subtitle">Our user-contributed database is ever growing!</h3>
    <% if user_signed_in? %>
      <span class="button is-medium is-hidden-mobile"><%= link_to "Add a shroom!", new_shroom_path %></span>
      <span class="button is-small is-hidden-desktop is-hidden-tablet is-hidden-widescreen"><%= link_to "Add a shroom!", new_shroom_path %></span>
    <% else %>
      <%= link_to user_session_path do %>
        <span class="button is-medium is-hidden-mobile is-link">Log in to add a mushroom!</span>
        <span class="button is-small is-hidden-desktop is-hidden-tablet is-hidden-widescreen is-link">Log in to add a mushroom!</span>
      <% end %>
    <% end %>
  </div>
  <br>
    <div class="container is-fluid grid">
      <% @shrooms.each do |shroom| %>
      <div class="grid-item">
        <div class="grid-img">
          <%= link_to shroom_path(shroom), remote: true do %> 
          <%= image_tag shroom.image.url(:medium) %>
        <% end %>
        </div>
        <% if shroom.edible == "true" %>
          <div class="tags">
            <span class="tag is-success is-medium edible-tag">Edible!</span>
          </div>         
          <% else %>
          <div class="tags">
            <span class="tag is-danger is-medium edible-tag">Not Edible!</span>
          </div> 
        <% end %>
        <p class="subtitle has-text-centered is-marginless"><%= shroom.name %></p>
        <p class="is-italic has-text-centered"><%= shroom.genus %></p>
      </div>
  <% end %> 
  </div>
  <div id="shroom-content"></div>
</section>