
<section class="section">
  <div class="container is-fluid has-text-centered">
    <h1 class="title">Welcome to the Shroom Hunters Database!</h1>
    <h3 class="subtitle">Our user-contributed database is ever growing!</h3>
    <% if user_signed_in? %>
      <span class="button is-medium is-hidden-mobile swell"><%= link_to "Add a shroom!", new_shroom_path %></span>
      <span class="button is-small is-hidden-desktop is-hidden-tablet is-hidden-widescreen swell"><%= link_to "Add a shroom!", new_shroom_path %></span>
    <% else %>
      <%= link_to user_session_path do %>
        <span class="button is-medium is-hidden-mobile is-link swell">Log in to add a mushroom!</span>
        <span class="button is-small is-hidden-desktop is-hidden-tablet is-hidden-widescreen is-link swell">Log in to add a mushroom!</span>
      <% end %>
    <% end %>
  </div>
  <br>
  <div class="container is-fluid has-text-left grid">
    <%= form_tag(shrooms_path, :method => "get") do %>
    <%= label_tag(:genus_filter) %>
    <%= select_tag :genus_filter, options_for_select(Shroom.all.collect { |g| g.genus }.sort) %>
    <%= submit_tag("Filter") %>
    <% end %>
    <%= link_to "Show All Shrooms", shrooms_path, class: "button is-small" %>     
  </div>
    <div class="container is-fluid grid">
      <% @shrooms.each do |shroom| %>
      <div class="grid-item"><%= link_to shroom_path(shroom), remote: true do %> 
        <div class="grid-image">
          <%= image_tag shroom.image.url(:thumb) %>       
        </div>
        <% if shroom.edible == "true" %>
          <div class="tags">
            <span class="tag is-success is-small edible-tag">Edible!</span>
          </div>         
          <% else %>
          <div class="tags">
            <span class="tag is-danger is-small edible-tag">Not Edible!</span>
          </div> 
        <% end %>
        <div class="name-genus">
          <p class="subtitle is-size-6-mobile has-text-centered is-marginless"><%= shroom.name %></p>
          <p class="is-italic is-size-6-mobile has-text-centered"><%= shroom.genus %></p>
          <% end %>
        </div>      
      </div>
  <% end %> 
  </div>
  <div id="shroom-content"></div>
</section>