<section class="section">
  <div class="container is-fluid show-shroom">
    <h1 class="title has-text-centered"><%= @shroom.name %></h1>
    <h2 class="subtitle has-text-centered"><%= @shroom.genus %></h2>
    <% if @shroom.edible == "true" %>
      <div class="tags">
        <span class="tag is-success is-large edible-tag-show">Edible!</span>
      </div>     
    <% else %>
      <div class="tags">
        <span class="tag is-danger is-large edible-tag-show">Not Edible!</span>
      </div>
    <% end %>
    <div class="image">
      <%= image_tag @shroom.image.url %>
    </div>
    <hr>
    <div class="container is-fluid">
      <div class="content is-large">
        <%= @shroom.description %>
        <br>
        <%= link_to 'Back', shrooms_path %>
        <% if current_user != nil %>
        <% if @shroom.user_id == current_user.id %>
          <%= link_to ' -- Edit', edit_shroom_path(@shroom) %>
          <%= link_to ' -- Delete', shroom_path(@shroom),  method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      <% end %>
      </div>
    </div>
    
  </div> 
</section>