<section class="section">
	<div class="container is-fluid has-text-centered">
		<h1 class="title">Shroom Shop</h1>
	</div>
	<br>
	<div class="container is-fluid shop-grid">
		<% @products.each do |product| %>
		<div class="shop-grid-item">
			<%= link_to product_path(product) do %>
				<%= image_tag product.image.url(:medium), class: "shop-image"  %>
			<% end %>
			<p class="subtitle"><%= product.name %>(<%= number_to_currency product.price %>)</p>
			<p class="has-text-left shop-grid-description"><%= product.description %></p>
			<p class="has-text-left"><%= print_stock(product.stock) %></p>
			<%= button_to "Add to Cart", order_items_path(product_id: product.id), class: "button is-primary is-small" %>
		</div>
		<% end %>
	</div>
</section>